<%= form_for :comment, url:post_comments_path(@post), remote: true do |f| %>
	<p>
		<%= f.label :Comment %><br>
		<%= f.text_area :body, id: "comment-text-" + @post.id.to_s %>
	</p>

	<p>
		<%= f.submit "Add new comment", class: "add-comment"%>
	</p>
<% end %>
