<!-- Selling post display -->
<div class="content-middle">
  <div class="stream-container">
    <ol class="stream-items">
      <%= render posts %>
    </ol>
  </div>
  <div class="apple_pagination">
    <%= js_will_paginate posts %>
  </div>

</div>
