<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@dish.image.url, size: "320x200") %>
</p>