<div class="dashboardRecCard module">
  <div class="dashboardRecCard-header">
    <h3 class="card-header"><span>People you may know</span></h3>
    <span class="card-middot">&#8729;</span>
    <a role="button" class="card-link">Refresh</a>
    <span class="card-middot">&#8729;</span>
    <a role="button" class="card-link">View all</a>
  </div>

  <div class="dashboardRecCard-items">
    <ul class="dashboardRecCard-itemsList">
      <li class="dashboardRecCard-item">
        <div class="rec-user-dismiss">x</div>
        <div class="dashboardRecCard-item-inner">
          <a href="#" class="dashboardRecCard-item-link">
            <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
            <div class="rec-user-name">Ziqiang Shi</div>
          </a>
          <div class="rec-user-description">25 mutual people</div>
          <div class="">
            <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
          </div>
        </div>
      </li>

      <li class="dashboardRecCard-item">
        <div class="rec-user-dismiss">x</div>
        <div class="dashboardRecCard-item-inner">
          <a href="#" class="dashboardRecCard-item-link">
            <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
            <div class="rec-user-name">Ziqiang Shi</div>
          </a>
          <div class="rec-user-description">10 mutual friends</div>
          <div class="">
            <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>